@font-face {
  font-family: "Inter";
  src: local("Inter Extra Light"), local("Inter-Extra-Light"), url("../fonts/Inter/100/Inter-ExtraLightBETA.woff2") format("woff2"), url("../fonts/Inter/100/Inter-ExtraLightBETA.woff") format("woff"), url("../fonts/Inter/100/Inter-ExtraLightBETA.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("Inter-Light"), url("../fonts/Inter/300/Inter-LightBETA.woff2") format("woff2"), url("../fonts/Inter/300/Inter-LightBETA.woff") format("woff"), url("../fonts/Inter/300/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter/400/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/400/Inter-Regular.woff") format("woff"), url("../fonts/Inter/400/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter/500/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/500/Inter-Medium.woff") format("woff"), url("../fonts/Inter/500/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Digital-Numbers";
  src: url("../fonts/Digital-Numbers/Digital-Numbers.ttf.woff") format("woff"), url("../fonts/Digital-Numbers/Digital-Numbers.ttf.svg#Digital-Numbers") format("svg"), url("../fonts/Digital-Numbers/Digital-Numbers.ttf.eot"), url("../fonts/Digital-Numbers/Digital-Numbers.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 0.5208333333vw;
}
@media (max-width: 992px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.7361111111vw;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #1B1B1B;
}

.section-box {
  max-width: 134.8rem;
  width: 100%;
  margin: 0 auto;
}

.stand {
  margin-top: 4rem;
}
@media (max-width: 992px) {
  .stand {
    margin-top: 3rem;
  }
}
.stand__content {
  display: flex;
}
@media (max-width: 992px) {
  .stand__content {
    flex-direction: column;
  }
}
.stand__speakers {
  position: relative;
  border: 4px #0A0F12 solid;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  .stand__speakers {
    margin-bottom: 5rem;
  }
}
.stand__speakers::before, .stand__speakers::after {
  content: "";
  position: absolute;
  width: 6.2rem;
  height: 1rem;
  background: url(../images/svg/leg.svg) no-repeat;
  background-size: contain;
  bottom: -1rem;
}
@media (max-width: 992px) {
  .stand__speakers::before, .stand__speakers::after {
    content: none;
  }
}
.stand__speakers::before {
  left: 2.6rem;
}
.stand__speakers::after {
  right: 2.6rem;
}
.stand__speakers__bottom-shadows {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}
.stand__speakers__bottom-shadows::before, .stand__speakers__bottom-shadows::after {
  content: "";
  position: absolute;
  width: 21.9rem;
  height: 21.9rem;
  pointer-events: none;
  z-index: 0;
  bottom: 1px;
}
.stand__speakers__bottom-shadows::before {
  border-radius: 0 0 0 0.5rem;
  background: linear-gradient(46deg, #161616 5.14%, rgba(35, 35, 35, 0) 48.81%);
  left: 1px;
}
.stand__speakers__bottom-shadows::after {
  border-radius: 0 0.5rem 0 0;
  background: linear-gradient(316deg, #161616 5.14%, rgba(35, 35, 35, 0) 48.81%);
  right: 1px;
}
.stand__speakers__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 53rem;
  height: auto;
  background-color: #232323;
  padding: 1.8rem 1.2rem;
  border-radius: 0.7rem;
}
@media (max-width: 992px) {
  .stand__speakers__content {
    box-sizing: border-box;
    width: 100%;
  }
}
.stand__speakers__content::before, .stand__speakers__content::after {
  content: "";
  position: absolute;
  width: 12.6rem;
  height: 12.6rem;
  pointer-events: none;
  z-index: 0;
  top: 1px;
}
.stand__speakers__content::before {
  border-radius: 0.5rem 0 0 0;
  background: linear-gradient(136deg, #161616 5.14%, rgba(35, 35, 35, 0) 48.81%);
  left: 1px;
}
.stand__speakers__content::after {
  border-radius: 0 0.5rem 0 0;
  background: linear-gradient(226deg, #161616 5.14%, rgba(35, 35, 35, 0) 48.81%);
  right: 1px;
}
.stand__speakers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16.66%;
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  padding: 0.2rem 0.8rem 0.7rem;
  border-left: 1px #1F1F1F solid;
  border-top: 1px #1F1F1F solid;
  border-right: 1px #252525 solid;
  border-bottom: 1px #252525 solid;
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 992px) {
  .stand__speakers__item {
    width: 25%;
    border: none;
  }
}
.stand__speakers__item.active div .indicator::before {
  animation: blink-1 1s ease-in-out infinite;
}
.stand__speakers__item.active div .indicator::after {
  animation: blink-2 1s ease-in-out infinite;
}
.stand__speakers__item.active h4 {
  color: #70C847;
}
@media (max-width: 992px) {
  .stand__speakers__item_empty {
    align-self: center;
  }
}
.stand__speakers__item_empty:hover div .plus {
  opacity: 1;
}
.stand__speakers__item_empty div {
  position: relative;
}
.stand__speakers__item_empty div .plus {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  transition: all 0.1s linear;
  opacity: 0;
}
.stand__speakers__item div {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 0.3rem;
}
.stand__speakers__item div .speaker {
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.stand__speakers__item div .speaker.small {
  width: 1.8rem;
  height: 1.8rem;
}
.stand__speakers__item div .speaker.small + .plus {
  width: 1.5rem;
  height: 1.5rem;
  left: 0.9rem;
}
.stand__speakers__item div .speaker.medium {
  width: 3.8rem;
  height: 3.8rem;
}
.stand__speakers__item div .speaker.medium + .plus {
  width: 2rem;
  height: 2rem;
  left: 1.9rem;
}
.stand__speakers__item div .speaker.large {
  width: 6rem;
  height: 6rem;
}
.stand__speakers__item div .speaker.large + .plus {
  width: 3rem;
  height: 3rem;
  left: 3rem;
}
.stand__speakers__item div .speaker.extra-large {
  width: 7.5rem;
  height: 7.5rem;
}
.stand__speakers__item div .speaker.extra-large + .plus {
  width: 3.5rem;
  height: 3.5rem;
  left: 3.75rem;
}
.stand__speakers__item div .indicator {
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
}
.stand__speakers__item div .indicator::before, .stand__speakers__item div .indicator::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
  top: 0;
  left: 0;
}
.stand__speakers__item div .indicator::before {
  background: url(../images/svg/indicator-disabled.svg) no-repeat;
  background-size: contain;
  opacity: 1;
}
.stand__speakers__item div .indicator::after {
  background: url(../images/svg/indicator-active.svg) no-repeat;
  background-size: contain;
  opacity: 0;
}
.stand__speakers__item h4 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #78818E;
  transition: all 0.1s linear;
  margin: 0;
}
.stand__audio-recorder {
  width: 29rem;
  height: -moz-max-content;
  height: max-content;
  border-radius: 1rem;
  border: 4px #242424 solid;
  background-color: #101010;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .stand__audio-recorder {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    bottom: 0;
  }
}
.stand__audio-recorder-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.stand__audio-recorder-container::before, .stand__audio-recorder-container::after {
  content: "";
  position: absolute;
  width: 6.2rem;
  height: 1rem;
  background: url(../images/svg/leg.svg) no-repeat;
  background-size: contain;
  bottom: -1rem;
}
@media (max-width: 992px) {
  .stand__audio-recorder-container::before, .stand__audio-recorder-container::after {
    content: none;
  }
}
.stand__audio-recorder-container::before {
  left: 2.6rem;
}
.stand__audio-recorder-container::after {
  right: 2.6rem;
}
.stand__audio-recorder__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 0.8rem 1.1rem 1rem;
  border: 10px #040404 solid;
  border-radius: 5px;
  background-color: #000;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .stand__audio-recorder__content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.stand__audio-recorder__content h3 {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: normal;
  color: #fff;
  text-align: center;
  min-height: 2rem;
  margin: 0 0 1.7rem 0;
}
@media (max-width: 992px) {
  .stand__audio-recorder__content h3 {
    color: #FCC927;
  }
}
.stand__audio-recorder__control {
  display: none;
}
.stand__audio-recorder__player {
  position: relative;
  width: 23.9rem;
  height: 7.65rem;
  background: url(../images/svg/player-bg.svg) no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 2.6rem 2.3rem 3rem 5.3rem;
  margin-bottom: 3.5rem;
}
@media (max-width: 992px) {
  .stand__audio-recorder__player {
    width: 31.5rem;
    height: 10rem;
    order: 1;
    padding: 3.25rem 3rem 4rem 7rem;
    margin-bottom: 0.5rem;
  }
}
.stand__audio-recorder__player.active::before {
  animation: 1s linear 0s normal none infinite running rotate;
}
.stand__audio-recorder__player.active > div p {
  animation: scroll 5s linear infinite;
}
.stand__audio-recorder__player::before {
  content: "";
  position: absolute;
  width: 4.15rem;
  height: 4.15rem;
  background: url(../images/svg/player-voice.svg) no-repeat;
  background-size: contain;
  left: 0.9rem;
  bottom: 1.1rem;
}
@media (max-width: 992px) {
  .stand__audio-recorder__player::before {
    width: 5.5rem;
    height: 5.5rem;
    left: 1.2rem;
    bottom: 1.4rem;
  }
}
.stand__audio-recorder__player::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 1rem;
  background: url(../images/svg/player-jacks.svg) no-repeat;
  background-size: contain;
  right: 2.7rem;
  bottom: 1.6rem;
}
@media (max-width: 992px) {
  .stand__audio-recorder__player::after {
    width: 3.2rem;
    height: 1.3rem;
    right: 3.6rem;
    bottom: 2.2rem;
  }
}
.stand__audio-recorder__player > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 0.6rem;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 0.6rem;
}
.stand__audio-recorder__player > div::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
  top: 0;
  right: 0;
}
.stand__audio-recorder__player > div p {
  font-family: Digital-Numbers;
  font-size: 1.4rem;
  color: #FCCA27;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
.stand__audio-recorder__expand {
  display: none;
  order: 2;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #FCCA27;
  background: #232323;
  border: 0;
  border-radius: 0.7rem;
}
@media (max-width: 992px) {
  .stand__audio-recorder__expand {
    display: flex;
  }
}
.stand__audio-recorder__average-rating {
  font-weight: 100;
  font-size: 6rem;
  line-height: normal;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 48%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.stand__audio-recorder__rate {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-bottom: 3.5rem;
}
.stand__audio-recorder__rate p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: normal;
  color: #444A53;
  text-align: center;
  margin: 0;
}
.stand__audio-recorder__rate > div {
  display: flex;
}
.stand__audio-recorder__rate > div button {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 1.8rem;
}
.stand__audio-recorder__rate > div button.active::before {
  opacity: 0;
}
.stand__audio-recorder__rate > div button.active::after {
  opacity: 1;
}
.stand__audio-recorder__rate > div button::before, .stand__audio-recorder__rate > div button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.stand__audio-recorder__rate > div button::before {
  background: url(../images/svg/rate-star.svg) no-repeat center;
  background-size: contain;
  opacity: 1;
}
.stand__audio-recorder__rate > div button::after {
  background: url(../images/svg/rate-star-active.svg) no-repeat center;
  background-size: contain;
  opacity: 0;
}
.stand__audio-recorder__sliders {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.4rem;
  margin-bottom: 0.9rem;
}
@media (max-width: 992px) {
  .stand__audio-recorder__sliders {
    margin-bottom: 2.3rem;
  }
}
.stand__audio-recorder__slider__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.stand__audio-recorder__slider__header h4 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #444A53;
  line-height: normal;
  margin: 0;
}
.stand__audio-recorder__slider__header p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: normal;
  color: #818893;
  margin: 0;
}
.stand__audio-recorder__slider .slider-handle {
  width: 3.1rem;
  height: 1.7rem;
  background: url(../images/svg/slider-handle.svg) no-repeat;
  background-size: contain;
  border: none;
  top: -0.75rem;
  margin-left: -1.55rem;
}
.stand__audio-recorder__slider .slider-range {
  height: 2px;
  background: linear-gradient(270deg, rgba(252, 202, 39, 0.46) 0%, #FCCA27 48%, rgba(252, 202, 39, 0.36) 100%);
  border: 3px #000 solid;
  -o-border-image: linear-gradient(90deg, #0E1013 0%, #2A3037 50.83%, #0F1215 100.65%);
     border-image: linear-gradient(90deg, #0E1013 0%, #2A3037 50.83%, #0F1215 100.65%);
  border-image-slice: 1;
  border-radius: 2rem;
}
.stand__amplifier {
  flex-grow: 1;
  display: flex;
  border: 4px solid #242424;
  background-color: #101010;
  border-radius: 1rem;
}
@media (max-width: 992px) {
  .stand__amplifier {
    display: none;
  }
}
.stand__amplifier__content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #000;
  border: 10px #040404 solid;
  border-radius: 0.5rem;
}
.stand__amplifier__content img {
  width: 18rem;
  height: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: 4rem 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}