@font-face {
    font-family: 'Inter';
    src: local('Inter Extra Light'), local('Inter-Extra-Light'),
        url('../fonts/Inter/100/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../fonts/Inter/100/Inter-ExtraLightBETA.woff') format('woff'),
        url('../fonts/Inter/100/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }