@font-face {
    font-family: 'Inter';
    src: local('Inter Light'), local('Inter-Light'),
        url('../fonts/Inter/300/Inter-LightBETA.woff2') format('woff2'),
        url('../fonts/Inter/300/Inter-LightBETA.woff') format('woff'),
        url('../fonts/Inter/300/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }