@font-face {
    font-family: 'Digital-Numbers';
    src:url('../fonts/Digital-Numbers/Digital-Numbers.ttf.woff') format('woff'),
        url('../fonts/Digital-Numbers/Digital-Numbers.ttf.svg#Digital-Numbers') format('svg'),
        url('../fonts/Digital-Numbers/Digital-Numbers.ttf.eot'),
        url('../fonts/Digital-Numbers/Digital-Numbers.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}